<header>
  <div class='row-fluid'>
     <div class='span9'>
        <span class='move left'>
          <i rel="tooltip" data-original-title="Clique e arraste para ordernar" class="icon-move"></i>
        </span>

        <span class='icon left'>
          {{#if available }}
            <i rel="tooltip" data-original-title="Exercício Publicada" class='left icon-certificate icon-green'></i>
          {{else}}
            <i rel="tooltip" data-original-title="Exercício não Publicado" class='left icon-certificate icon-red'></i>
          {{/if}}
        </span>
        <h4 class='left'>Exercício: {{title}}</h4>
     </div>

     <span class='span3 text-right'>
       <a href='#' data-id='{{id}}' class="show_content"><i class="icon-plus"></i> Detalhes </a>
       <a href='#' data-id='{{id}}' id='edit_exer'><i class="icon-edit"></i> Editar </a>
       <a href='#' data-id='{{id}}' id='destroy_exer' ><i class="icon-remove-circle"></i> Remover </a>
     </span>
  </div>
</header>

<div class='text-right date-info'>
   Criado em {{created_at}}
   Atualizado em {{updated_at}}
</div>

<div class='content hide'>{{safe content}}</div>
<hr>
