<td>{{index}}</td>
<td>{{name}} <div class="date-info">{{email}}</div></td>
<td>
  <div class="progress progress-success">
    <div class="bar" style="width: {{completeness}}%">
      {{completeness}}%
    </div>
  </div>
</td>
<td><a href="#" class="timeline-link">Linha do tempo</a></td>
