<div class="span3 answer" data-toggle="modal">
  <span class="text-in-border-{{classname}}">{{title}}</span>
  <div class='{{classname}}-answer'>
    $ {{response}} $
  </div>
</div>


{{#if tip}}
   <div class="span4 answer-tip">
     <i class='left-icon icon-caret-left'></i>
     <div class='title'>Resposta Incorreta, analise a dica e tente novamente</div>
     <div class='content'>
         <div class="clearfix">
           <span class="left"><strong>Tentativa: {{attempt_number}}</strong></span>
           <span class="tip-number right"></span>
         </div>
         <div class="tip">{{safe tip.content}}</div>
     </div>
     <div class="tip-nav clearfix">
        <a href="#" class="left previous"><i class="icon-arrow-left"></i></a>
        <a href="#" class="right next"><i class="icon-arrow-right"></i></a>
     </div>
   </div>
{{/if}}
