<td>{{team}}</td>
<td>{{lo}}</td>
<td>{{exercise}}</td>
<td>{{question}}</td>
<td>{{created_at}}</td>
<td>${{response}}$</td>
<td>{{#if correct}} Sim {{else}} Não {{/if}}</td>
<td>{{user_name}} - <span class='date-info'> {{user_email}} </span> </td>
<td>{{comments_size}} </td>
