<td>{{index}}</td>
<td> 
	<div class="row-fluid">
		<div class="show-grid answer-group"></div>
		{{question}} <div class="span5"</div> 
	</div>
</td>
<td> {{exercises_answers}}</td>
<td> {{exercises_correct_amount}}</td>
<td> {{exercises_incorrect_amount}}</td>
<td> {{difficult_degree}}</td>
